.downloads {
  display: flex;
  flex-direction: row;
  font-weight: normal;
  font-size: small;
  justify-content: space-between;
  justify-self: center;
  width: 30%;
}

.downloads h1{
  margin: 0;
  font-size: small;
  font-weight: normal;
  align-content: center;
}

.downloads p{
  text-decoration: underline;
  text-transform: lowercase;
  color: #6593d3;
}

.downloads p:hover{
  color: #355075;
  cursor: pointer;
}

.user-details {
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: normal;
  gap: 20vw;
}

.passChange {
  display: flex;
  justify-self: center;
  background-color: transparent;
  border: none;
  font-size: x-small;
  color: #355075;
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
}

.right-side {
  margin-top: 10vh;
  background-color: white;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.2);
  max-width: min-content;
  /* z-index: 1; */
}

.bg-img-icon {
  height: 25vh;
  width: 30vw;
  border-radius: 30px;
  opacity: 0.5;
}

.img-icon {
  display: flex;
  position: relative;
  top: -12vh;
  justify-self: center;
  border-radius: 50%;
  width: 15vh;
  height: 15vh;
  background-color: white;
  object-fit: scale-down;
  padding: 2px;
  box-shadow: 0px -20px 45px rgba(0, 0, 0, 0.8);
}

.right-side h1 {
  margin-top: -8vh;
  justify-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.right-side p {
  margin-top: -1vh;
  justify-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: black;
}

.interests {
  position: relative;
  margin: 3vh 2px 1vh 2px;
  padding: 20px;
  border-radius: 20px;
  justify-self: center;
  font-size: 12px;
  color: white;
  background-color: #607da0a7;
}

.contact-info {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 20px 10px 20px;
  margin-top: 2vh;
}

.contact-info a {
  font-size: 12px;
  color: #355075;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
}

.chart {
  margin-top: -5vh;
  margin-left: 10vw;
}

.action-btns {
  display: block;
  align-items: center;
  margin-right: 3vw;
  width: max-content;
}

.table-head-f {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  margin: 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #35507533;
  border-radius: 20px;
}

.table-head-f h4 {
  color: #355075;
  text-transform: capitalize;
}

.table-head-f img {
  position: relative;
  height: 25px;
  margin-left: 2vw;
}

.table-head-f img:hover {
  cursor: pointer;
}